.array-container {
    position: center;
    left: 100px;
    padding: 50px;
}

.array-bar {
    width: 2px;
    background-color: rgb(114, 158, 154);
    display: inline-block;
    margin: 0 1px;
    border: 1px solid black;
}